[submodule "Vendor/NSDate-TimeAgo"]
	path = Vendor/NSDate-TimeAgo
	url = git@github.com:kevinlawler/NSDate-TimeAgo.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "Vendor/FlatUIKit"]
	path = Vendor/FlatUIKit
	url = git@github.com:Grouper/FlatUIKit.git
[submodule "Vendor/SVProgressHUD"]
	path = Vendor/SVProgressHUD
	url = git@github.com:samvermette/SVProgressHUD.git
